body {
    background-color: #ffffff;
    color: #222222;
}

a {
    color: #ef1717;
}

a:visited {
    color: #f27b7b;
}

a:hover, a:focus, a:active {
    color: #ff0000;
}

.wp-block-group__inner-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.site-header .header-image {
    width: 170px;
}

.generate-back-to-top {
    font-size: 20px;
    border-radius: 3px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    z-index: 10;
    transition: opacity 300ms ease-in-out;
    opacity: 0.1;
    transform: translateY(1000px);
}

.generate-back-to-top__show {
    opacity: 1;
    transform: translateY(0);
}

.navigation-search {
    position: absolute;
    left: -99999px;
    pointer-events: none;
    visibility: hidden;
    z-index: 20;
    width: 100%;
    top: 0;
    transition: opacity 100ms ease-in-out;
    opacity: 0;
}

.navigation-search.nav-search-active {
    left: 0;
    right: 0;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}

.navigation-search input[type="search"] {
    outline: 0;
    border: 0;
    vertical-align: bottom;
    line-height: 1;
    opacity: 0.9;
    width: 100%;
    z-index: 20;
    border-radius: 0;
    -webkit-appearance: none;
    height: 60px;
}

.navigation-search input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.navigation-search input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.navigation-search input::-webkit-search-decoration, .navigation-search input::-webkit-search-cancel-button, .navigation-search input::-webkit-search-results-button, .navigation-search input::-webkit-search-results-decoration {
    display: none;
}

.gen-sidebar-nav .navigation-search {
    top: auto;
    bottom: 0;
}

:root {
    --contrast: #222222;
    --contrast-2: #575760;
    --contrast-3: #b2b2be;
    --base: #f0f0f0;
    --base-2: #f7f8f9;
    --base-3: #ffffff;
    --accent: #1e73be;
}

:root .has-contrast-color {
    color: var(--contrast);
}

:root .has-contrast-background-color {
    background-color: var(--contrast);
}

:root .has-contrast-2-color {
    color: var(--contrast-2);
}

:root .has-contrast-2-background-color {
    background-color: var(--contrast-2);
}

:root .has-contrast-3-color {
    color: var(--contrast-3);
}

:root .has-contrast-3-background-color {
    background-color: var(--contrast-3);
}

:root .has-base-color {
    color: var(--base);
}

:root .has-base-background-color {
    background-color: var(--base);
}

:root .has-base-2-color {
    color: var(--base-2);
}

:root .has-base-2-background-color {
    background-color: var(--base-2);
}

:root .has-base-3-color {
    color: var(--base-3);
}

:root .has-base-3-background-color {
    background-color: var(--base-3);
}

:root .has-accent-color {
    color: var(--accent);
}

:root .has-accent-background-color {
    background-color: var(--accent);
}

body, button, input, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    line-height: 1.8;
}

.entry-content > [class*="wp-block-"]:not(:last-child):not(.wp-block-heading) {
    margin-bottom: 1.5em;
}

.top-bar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.main-title {
    font-family: Arial, Helvetica, sans-serif;
}

.site-description {
    font-family: Arial, Helvetica, sans-serif;
}

.main-navigation a, .menu-toggle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.main-navigation .menu-bar-items {
    font-size: 16px;
}

.main-navigation .main-nav ul ul li a {
    font-size: 15px;
}

.widget-title {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
}

.sidebar .widget, .footer-widgets .widget {
    font-size: 14px;
}

button:not(.menu-toggle), html input[type="button"], input[type="reset"], input[type="submit"], .button, .wp-block-button .wp-block-button__link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 1.3em;
}

h2 {
    font-family: "PT Serif", serif;
    font-size: 26px;
    line-height: 1.4em;
}

h3 {
    font-family: "PT Serif", serif;
    font-size: 22px;
    line-height: 1.4em;
}

h4 {
    font-family: "PT Serif", serif;
    font-size: 20px;
    line-height: 1.4em;
}

h5 {
    font-family: "PT Serif", serif;
    font-size: 18px;
    line-height: 1.4em;
}

h6 {
    font-family: "PT Serif", serif;
    font-size: 16px;
    line-height: 1.4em;
}

.site-info {
    font-family: "PT Serif", serif;
    font-size: 12px;
}

@media (max-width: 768px) {
    .main-title {
        font-size: 20px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }
}

.top-bar {
    background-color: #1e72bd;
    color: #ffffff;
}

.top-bar a {
    color: #ffffff;
}

.top-bar a:hover {
    color: #f2f6f9;
}

.site-header {
    background-color: #ffffff;
    color: #666666;
}

.site-header a {
    color: #7092a5;
}

.site-header a:hover {
    color: #aab9c1;
}

.main-title a, .main-title a:hover {
    color: #222222;
}

.site-description {
    color: #837d7d;
}

.mobile-menu-control-wrapper .menu-toggle, .mobile-menu-control-wrapper .menu-toggle:hover, .mobile-menu-control-wrapper .menu-toggle:focus, .has-inline-mobile-toggle #site-navigation.toggled {
    background-color: rgba(0, 0, 0, 0.02);
}

.main-navigation, .main-navigation ul ul {
    background-color: #ffffff;
}

.main-navigation .main-nav ul li a, .main-navigation .menu-toggle, .main-navigation .menu-bar-items {
    color: #222222;
}

.main-navigation .main-nav ul li:not([class*="current-menu-"]):hover > a, .main-navigation .main-nav ul li:not([class*="current-menu-"]):focus > a, .main-navigation .main-nav ul li.sfHover:not([class*="current-menu-"]) > a, .main-navigation .menu-bar-item:hover > a, .main-navigation .menu-bar-item.sfHover > a {
    color: #1e72bd;
    background-color: #ffffff;
}

button.menu-toggle:hover, button.menu-toggle:focus {
    color: #222222;
}

.main-navigation .main-nav ul li[class*="current-menu-"] > a {
    color: #3498db;
    background-color: #ffffff;
}

.navigation-search input[type="search"], .navigation-search input[type="search"]:active, .navigation-search input[type="search"]:focus, .main-navigation .main-nav ul li.search-item.active > a, .main-navigation .menu-bar-items .search-item.active > a {
    color: #1e72bd;
    background-color: #ffffff;
}

.main-navigation ul ul {
    background-color: #eaeaea;
}

.main-navigation .main-nav ul ul li a {
    color: #515151;
}

.main-navigation .main-nav ul ul li:not([class*="current-menu-"]):hover > a, .main-navigation .main-nav ul ul li:not([class*="current-menu-"]):focus > a, .main-navigation .main-nav ul ul li.sfHover:not([class*="current-menu-"]) > a {
    color: #7a8896;
    background-color: #eaeaea;
}

.main-navigation .main-nav ul ul li[class*="current-menu-"] > a {
    color: #7a8896;
    background-color: #eaeaea;
}

.separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .one-container .container, .separate-containers .paging-navigation, .inside-page-header {
    color: #222222;
    background-color: #ffffff;
}

.inside-article a, .paging-navigation a, .comments-area a, .page-header a {
    color: #e50404;
}

.inside-article a:hover, .paging-navigation a:hover, .comments-area a:hover, .page-header a:hover {
    color: #e04e4e;
}

.entry-header h1, .page-header h1 {
    color: #71535c;
}

.entry-title a {
    color: #7092a5;
}

.entry-title a:hover {
    color: #aab9c1;
}

.entry-meta {
    color: #666666;
}

.entry-meta a {
    color: #7092a5;
}

.entry-meta a:hover {
    color: #aab9c1;
}

h1 {
    color: #222222;
}

h2 {
    color: #222222;
}

h3 {
    color: #1e72bd;
}

h4 {
    color: #1e72bd;
}

h5 {
    color: #717880;
}

.sidebar .widget {
    color: #222222;
    background-color: #ffffff;
}

.sidebar .widget a {
    color: #1e72bd;
}

.sidebar .widget a:hover {
    color: #aab9c1;
}

.sidebar .widget .widget-title {
    color: #222222;
}

.footer-widgets {
    color: #666666;
    background-color: #f2f6f9;
}

.footer-widgets a {
    color: #7092a5;
}

.footer-widgets a:hover {
    color: #aab9c1;
}

.footer-widgets .widget-title {
    color: #666666;
}

.site-info {
    color: #ffffff;
    background-color: #467082;
}

.site-info a {
    color: #ffffff;
}

.site-info a:hover {
    color: #f2f6f9;
}

.footer-bar .widget_nav_menu .current-menu-item a {
    color: #f2f6f9;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea, select {
    color: #666666;
    background-color: #ffffff;
    border-color: #e3e3e3;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
    color: #666666;
    background-color: #ffffff;
    border-color: #e3e3e3;
}

button, html input[type="button"], input[type="reset"], input[type="submit"], a.button, a.wp-block-button__link:not(.has-background) {
    color: #ffffff;
    background-color: #7092a5;
}

button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, a.button:hover, button:focus, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, a.button:focus, a.wp-block-button__link:not(.has-background):active, a.wp-block-button__link:not(.has-background):focus, a.wp-block-button__link:not(.has-background):hover {
    color: #ffffff;
    background-color: #aab9c1;
}

a.generate-back-to-top {
    background-color: #7092a5;
    color: #ffffff;
}

a.generate-back-to-top:hover, a.generate-back-to-top:focus {
    background-color: #aab9c1;
    color: #ffffff;
}

:root {
    --gp-search-modal-bg-color: var(--base-3);
    --gp-search-modal-text-color: var(--contrast);
    --gp-search-modal-overlay-bg-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .main-navigation .menu-bar-item:hover > a, .main-navigation .menu-bar-item.sfHover > a {
        background: none;
        color: #222222;
    }
}

.inside-top-bar {
    padding: 6px 25px 6px 25px;
}

.inside-top-bar.grid-container {
    max-width: 1250px;
}

.inside-header {
    padding: 40px 20px 40px 20px;
}

.inside-header.grid-container {
    max-width: 1240px;
}

.separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content, .inside-page-header {
    padding: 60px 20px 60px 20px;
}

.site-main .wp-block-group__inner-container {
    padding: 60px 20px 60px 20px;
}

.separate-containers .paging-navigation {
    padding-top: 20px;
    padding-bottom: 20px;
}

.entry-content .alignwide, body:not(.no-sidebar) .entry-content .alignfull {
    margin-left: -20px;
    width: calc(100% + 40px);
    max-width: calc(100% + 40px);
}

.one-container.right-sidebar .site-main, .one-container.both-right .site-main {
    margin-right: 20px;
}

.one-container.left-sidebar .site-main, .one-container.both-left .site-main {
    margin-left: 20px;
}

.one-container.both-sidebars .site-main {
    margin: 0px 20px 0px 20px;
}

.sidebar .widget, .page-header, .widget-area .main-navigation, .site-main > * {
    margin-bottom: 25px;
}

.separate-containers .site-main {
    margin: 25px;
}

.both-right .inside-left-sidebar, .both-left .inside-left-sidebar {
    margin-right: 12px;
}

.both-right .inside-right-sidebar, .both-left .inside-right-sidebar {
    margin-left: 12px;
}

.one-container.archive .post:not(:last-child):not(.is-loop-template-item), .one-container.blog .post:not(:last-child):not(.is-loop-template-item) {
    padding-bottom: 60px;
}

.separate-containers .featured-image {
    margin-top: 25px;
}

.separate-containers .inside-right-sidebar, .separate-containers .inside-left-sidebar {
    margin-top: 25px;
    margin-bottom: 25px;
}

.main-navigation .main-nav ul li a, .menu-toggle, .main-navigation .menu-bar-item > a {
    line-height: 44px;
}

.main-navigation .main-nav ul ul li a {
    padding: 20px;
}

.navigation-search input[type="search"] {
    height: 44px;
}

.rtl .menu-item-has-children .dropdown-menu-toggle {
    padding-left: 20px;
}

.menu-item-has-children ul .dropdown-menu-toggle {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -20px;
}

.rtl .main-navigation .main-nav ul li.menu-item-has-children > a {
    padding-right: 20px;
}

.widget-area .widget {
    padding: 20px;
}

.footer-widgets-container {
    padding: 80px 20px 80px 20px;
}

.footer-widgets-container.grid-container {
    max-width: 1240px;
}

.inside-site-info {
    padding: 20px;
}

.inside-site-info.grid-container {
    max-width: 1240px;
}

@media (max-width: 768px) {
    .separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content, .inside-page-header {
        padding: 60px 20px 60px 20px;
    }

    .site-main .wp-block-group__inner-container {
        padding: 60px 20px 60px 20px;
    }

    .inside-header {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .inside-site-info {
        padding-right: 10px;
        padding-left: 10px;
    }

    .entry-content .alignwide, body:not(.no-sidebar) .entry-content .alignfull {
        margin-left: -20px;
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
    }

    .one-container .site-main .paging-navigation {
        margin-bottom: 25px;
    }
}

/* End cached CSS */
.is-right-sidebar {
    width: 30%;
}

.is-left-sidebar {
    width: 25%;
}

.site-content .content-area {
    width: 100%;
}

@media (max-width: 768px) {
    .main-navigation .menu-toggle, .sidebar-nav-mobile:not(#sticky-placeholder) {
        display: block;
    }

    .main-navigation ul, .gen-sidebar-nav, .main-navigation:not(.slideout-navigation):not(.toggled) .main-nav > ul, .has-inline-mobile-toggle #site-navigation .inside-navigation > *:not(.navigation-search):not(.main-nav) {
        display: none;
    }

    .nav-align-right .inside-navigation, .nav-align-center .inside-navigation {
        justify-content: space-between;
    }

    .has-inline-mobile-toggle .mobile-menu-control-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .has-inline-mobile-toggle .inside-header {
        flex-direction: row;
        text-align: left;
        flex-wrap: wrap;
    }

    .has-inline-mobile-toggle .header-widget, .has-inline-mobile-toggle #site-navigation {
        flex-basis: 100%;
    }

    .nav-float-left .has-inline-mobile-toggle #site-navigation {
        order: 10;
    }
}

.elementor-template-full-width .site-content {
    display: block;
}

.dynamic-author-image-rounded {
    border-radius: 100%;
}

.dynamic-featured-image, .dynamic-author-image {
    vertical-align: middle;
}

.one-container.blog .dynamic-content-template:not(:last-child), .one-container.archive .dynamic-content-template:not(:last-child) {
    padding-bottom: 0px;
}

.dynamic-entry-excerpt > p:last-child {
    margin-bottom: 0px;
}

.main-navigation .main-nav ul li a, .menu-toggle, .main-navigation .menu-bar-item > a {
    transition: line-height 300ms ease
}

.main-navigation.toggled .main-nav > ul {
    background-color: #ffffff
}

.sticky-enabled .gen-sidebar-nav.is_stuck .main-navigation {
    margin-bottom: 0px;
}

.sticky-enabled .gen-sidebar-nav.is_stuck {
    z-index: 500;
}

.sticky-enabled .main-navigation.is_stuck {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

.navigation-stick:not(.gen-sidebar-nav) {
    left: 0;
    right: 0;
    width: 100% !important;
}

.nav-float-right .navigation-stick {
    width: 100% !important;
    left: 0;
}

.nav-float-right .navigation-stick .navigation-branding {
    margin-right: auto;
}

.main-navigation.has-sticky-branding:not(.grid-container) .inside-navigation:not(.grid-container) .navigation-branding {
    margin-left: 10px;
}

.page-hero {
    background-color: rgba(242, 246, 249, 0.65);
    background-image: url(https://thangmaymini.com/wp-content/uploads/2018/08/banner-elevator-banner-1600x583-thang-may.jpg);
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(242, 246, 249, 0.65), rgba(242, 246, 249, 0.65)), url(https://thangmaymini.com/wp-content/uploads/2018/08/banner-elevator-banner-1600x583-thang-may.jpg);
    background-repeat: no-repeat;
    color: #222;
    padding-top: 10%;
    padding-right: 20px;
    padding-bottom: 10%;
    padding-left: 20px;
    text-align: center;
}

.page-hero h1, .page-hero h2, .page-hero h3, .page-hero h4, .page-hero h5, .page-hero h6 {
    color: #222;
}

.inside-page-hero > *:last-child {
    margin-bottom: 0px;
}

.page-hero a, .page-hero a:visited {
    color: #717880;
}

.page-hero time.updated {
    display: none;
}

.page-hero a:hover {
    color: #aab9c1;
}

@media (max-width: 768px) {
    .page-hero {
        padding-top: 80px;
        padding-right: 20px;
        padding-bottom: 80px;
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    .main-navigation .menu-toggle, .main-navigation .mobile-bar-items a, .main-navigation .menu-bar-item > a {
        padding-left: 26px;
        padding-right: 26px;
    }

    .main-navigation .main-nav ul li a, .main-navigation .menu-toggle, .main-navigation .mobile-bar-items a, .main-navigation .menu-bar-item > a {
        line-height: 50px;
    }

    .main-navigation .site-logo.navigation-logo img, .mobile-header-navigation .site-logo.mobile-header-logo img, .navigation-search input[type="search"] {
        height: 50px;
    }
}

@media (max-width: 1024px),(min-width: 1025px) {
    .main-navigation.sticky-navigation-transition .main-nav > ul > li > a, .sticky-navigation-transition .menu-toggle, .main-navigation.sticky-navigation-transition .menu-bar-item > a, .sticky-navigation-transition .navigation-branding .main-title {
        line-height: 40px;
    }

    .main-navigation.sticky-navigation-transition .site-logo img, .main-navigation.sticky-navigation-transition .navigation-search input[type="search"], .main-navigation.sticky-navigation-transition .navigation-branding img {
        height: 40px;
    }
}

.main-navigation.slideout-navigation .main-nav > ul > li > a {
    line-height: 60px;
}


/*"wp-custom-css"*/
p, li, td {
    color: #333;
}

.wp-block-image img {
    max-width: 100% !important;
    height: auto !important;
}

.newpost a {
    text-align: left;
    display: inherit;
}

.wp-block-image figcaption {
    font-size: 14px;
}

.widget-area .widget {
    padding: 10px 0px 10px 5px;
}

.yarpp-related .yarpp-thumbnail-title {
    font-size: 16px;
    font-weight: normal;
    width: 100%;
}

.separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content, .inside-page-header {
    padding: 0px 20px 0px 20px;
}

/*generate-offside-inline-css*/
:root {
    --gp-slideout-width: 265px;
}

.slideout-navigation.main-navigation {
    background-color: #7092a5;
}

.slideout-navigation.main-navigation .main-nav ul li a {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
}

.slideout-navigation.main-navigation.do-overlay .main-nav ul ul li a {
    font-size: 1em;
    font-size: 15px;
}

@media (max-width: 768px) {
    .slideout-navigation.main-navigation .main-nav ul li a {
        font-size: 16px;
    }

    .slideout-navigation.main-navigation .main-nav ul ul li a {
        font-size: 15px;
    }
}

.slideout-navigation.main-navigation .main-nav ul li:not([class*="current-menu-"]):hover > a, .slideout-navigation.main-navigation .main-nav ul li:not([class*="current-menu-"]):focus > a, .slideout-navigation.main-navigation .main-nav ul li.sfHover:not([class*="current-menu-"]) > a {
    color: #7092a5;
    background-color: #ffffff;
}

.slideout-navigation.main-navigation .main-nav ul li[class*="current-menu-"] > a {
    color: #ffffff;
    background-color: #7092a5;
}

.slideout-navigation, .slideout-navigation a {
    color: #ffffff;
}

.slideout-navigation button.slideout-exit {
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.slide-opened nav.toggled .menu-toggle:before {
    display: none;
}

@media (max-width: 768px) {
    .menu-bar-item.slideout-toggle {
        display: none;
    }
}


/*'generate-navigation-branding-inline-css'*/
@media (max-width: 768px) {
    .site-header, #site-navigation, #sticky-navigation {
        display: none !important;
        opacity: 0.0;
    }

    #mobile-header {
        display: block !important;
        width: 100% !important;
    }

    #mobile-header .main-nav > ul {
        display: none;
    }

    #mobile-header.toggled .main-nav > ul, #mobile-header .menu-toggle, #mobile-header .mobile-bar-items {
        display: block;
    }

    #mobile-header .main-nav {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
}

.navigation-branding .main-title {
    font-size: 25px;
    font-weight: bold;
}

.main-navigation.has-branding.grid-container .navigation-branding, .main-navigation.has-branding:not(.grid-container) .inside-navigation:not(.grid-container) .navigation-branding {
    margin-left: 10px;
}

.main-navigation .sticky-navigation-logo, .main-navigation.navigation-stick .site-logo:not(.mobile-header-logo) {
    display: none;
}

.main-navigation.navigation-stick .sticky-navigation-logo {
    display: block;
}

.navigation-branding img, .site-logo.mobile-header-logo img {
    height: 44px;
    width: auto;
}

.navigation-branding .main-title {
    line-height: 44px;
}

@media (max-width: 1210px) {
    #site-navigation .navigation-branding, #sticky-navigation .navigation-branding {
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .main-navigation.has-branding.nav-align-center .menu-bar-items, .main-navigation.has-sticky-branding.navigation-stick.nav-align-center .menu-bar-items {
        margin-left: auto;
    }

    .navigation-branding {
        margin-right: auto;
        margin-left: 10px;
    }

    .navigation-branding .main-title, .mobile-header-navigation .site-logo {
        margin-left: 10px;
    }

    .navigation-branding img, .site-logo.mobile-header-logo {
        height: 50px;
    }

    .navigation-branding .main-title {
        line-height: 50px;
    }
}


/* GeneratePress Site CSS */
@media (min-width: 1025px) {
    .home-intro {
        margin: 10px 200px;
    }

    .yarpp-thumbnail > img, .yarpp-thumbnail-default {
        width: 226px;
        height: auto;
        overflow: inherit;
    }

    .yarpp-thumbnails-horizontal .yarpp-thumbnail {
        width: 30%;
        height: auto;
        margin: 10px;
    }

    .yarpp-thumbnails-horizontal .yarpp-thumbnail {
        width: 30%;
        height: auto;
        margin: 10px;
    }

}

.lsi-social-icons li a, .lsi-social-icons li a:hover {
    padding: 10px 5px 0px 5px !important;
    background: transparent !important;
}

.topbar {
    padding: 6px 0px 4px 0px;
}

@media ( max-width: 768px ) {
    #lsi_widget-2 {
        display: none;
    }

    .yarpp-thumbnails-horizontal .yarpp-thumbnail {
        width: 100%;
        height: auto;
    }

    .yarpp-thumbnail > img, .yarpp-thumbnail-default {
        width: 100%;
        /* margin: 10px; */
        padding: 10px;
        margin: auto;
        height: auto;
    }
}

.main-navigation .menu > .menu-item > a::after {
    content: "";
    position: absolute;
    right: 50;
    left: 50%;
    top: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: 0.3s width ease;
}

.main-navigation .menu > .menu-item > a:hover::after,
.main-navigation .menu > .menu-item > a:focus::after,
.main-navigation .menu > .current-menu-item > a::after {
    width: 30px;
}

.main-navigation .main-nav ul li a, .menu-toggle, .main-navigation .mobile-bar-items a {
    text-align: center;
}

.main-navigation a {
    letter-spacing: 2px;
}

#generate-slideout-menu {
    padding-top: 20px;
}

.hero-title {
    font-size: 40px;
    letter-spacing: 4px;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 32px;
        letter-spacing: 2px;
    }

    .slideout-navigation.main-navigation .main-nav ul ul li a {
        font-size: 15px;
        background: #6b6b6b;
    }
}

.mobile-header-navigation {
    padding: 8px 5px;
}

.menu-toggle {
    font-size: 20px;
}

h1 {
    letter-spacing: 2px;
}

input[type="button"], input[type="reset"], input[type="submit"], a.button, a.button:visited {
    line-height: inherit;
    border-radius: 6px;
    transition: all 0.5s ease 0s;
    margin-top: 10px;
}

.widget-title {
    letter-spacing: 2px;
}

.inside-footer-widgets {
    text-align: center;
}

.inside-page-hero .smooth-scroll {
    position: absolute;
    bottom: 20px;
}

.page-hero {
    position: relative;
}

/* End GeneratePress Site CSS */